---
permalink: /
profile: true 
---

<h1>Blog Posts</h1>
<ul id="post-list">
    {% for post in site.posts limit:5 %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d, %Y" }}</aside></a>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} {{ post.description }}</a>
        </li>
    {% endfor %}
</ul>
<div class="readmore"><a href="/blog/">View all posts</a></div>
 
<h1>Pages</h1>
<ul class="archive-list">
  {% for page in site.pages %}
  <li>
    <a href="{{ site.baseurl }}{{ page.url | remove_first: '/' }}"><aside class="dates">{{ page.date | date:"%b %d, %Y" }}</aside></a>
    <a href="{{ site.baseurl }}{{ page.url | remove_first: '/' }}">{{ page.title }}</a>
  </li> 
  {% endfor %}
</ul>

<h1>Slides</h1>
<ul class="archive-list">
  {% for slide in site.data.slides %}
  <li>
    <a href="/slides/#{{ slide.path }}"><aside class="dates">{{ slide.date | date:"%b %d, %Y" }}</aside></a>
    <a href="/slides/#{{ slide.path }}">{{ slide.name }}</a>
  </li> 
  {% endfor %}
</ul>
 
{% include footer.html %}
