.reveal section img.emoji {
  border: none;
  margin: 0;
  box-shadow: none;
  background: none;
  width: 1em;
  max-width: 1em;
  height: 1em;
  max-height: 1em;
  margin-bottom: -5px;
}

.reveal ol, .reveal dl, .reveal ul {
  width: 95%;
}

section img.avatar {
  border: none;
  border-radius: 20px;
  width: 128px;
  height: 128px;
  float: right;
}

section img.capture {
  display: block;
  margin: 0 auto;
}


