.reveal section img.emoji {
  border: none;
  margin: 0;
  box-shadow: none;
  background: none;
  width: 1em;
  max-width: 1em;
  height: 1em;
  max-height: 1em;
  margin-bottom: -5px;
}

.reveal ol, .reveal dl, .reveal ul {
  width: 95%;
}

section img.avatar {
  border: none;
  border-radius: 20px;
  width: 128px;
  height: 128px;
  float: right;
  border-radius: 20px;
}

img {
  border: none !important;
}

section img.capture {
  display: block;
  margin: 0 auto;
}

.reveal blockquote {
  font-size: 80%;
  width: 100%;
  font-style: oblique;
}

.reveal pre {
  width: 100%;
}

.reveal pre code {
  overflow: visible;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif !important; 
  font-weight: bold !important;
}