<nav class="main-nav">
    {% if page.url != "/blog/" %}
        <a href="/blog/">Blog Top</a>
    {% endif %}
    {% if page.url != "/" %}
        <a href="/">About me</a>
    {% endif %}

    <a href="https://twitter.com/{{ site.authorTwitter }}"><i class="fa fa-twitter fa-2" aria-hidden="true"></i></a>
    <a href="https://github.com/{{ site.authorTwitter }}"><i class="fa fa-github fa-2" aria-hidden="true"></i></a>
    <a class="cta" href="/blog/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
</nav>
