<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href="{{ site.baseurl }}about/">About</a>
    {% endif %}
    <a href="https://twitter.com/{{ site.authorTwitter }}"><i class="fa fa-twitter-square fa-2" aria-hidden="true"></i></a>
    <a href="https://github.com/{{ site.authorTwitter }}"><i class="fa fa-github-square fa-2" aria-hidden="true"></i></a>
    <a class="cta" href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
</nav>
